/*--------------General Styles--------------*/

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #424b32;
    color: #fff;
    font-family: 'Gaegu', cursive;
    font-size: 1.2em;
    position: relative;
}

p,
blockquote {
    font-size: 1.3em;
}

.link {
    color: #FCC09E;
    display: inline-block;
    margin: 5px;
}

.link:visited {
    color: #F5D20A;
}

.link:focus,
.link:hover {
    text-decoration: none;
}

.secondary-heading {
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    text-align: center;
}

/*---------------------Header---------------*/

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../images/anne_small_2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    /* border-radius: 0 0 20% 20%; */
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.hero__txt {
    background-color: rgba(85, 107, 47, 0.6);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    text-align: center;
    margin-top: 0.5em;
}

.hero__txt::before {
    content: "SIMPLY ANNE";
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    display: block;
    text-align: center;
}

.hero__txt--hidden {
    display: none;
}

.nav {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
    background-color: transparent;
    margin: 0;
    font-family: 'Amatic SC', cursive;
}

.nav__item {
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    padding: 10px;
    display: none;
}

.nav__link {
    text-decoration: none;
    transition: all 0.4s linear;
    color: #fff;
}

.nav__link:focus,
.nav__link:hover {
    border-bottom: 1px solid #fff;
}

.nav__menu {
    display: flex;
    color: #fff;
    background-color: rgba(85, 107, 47, 0.6);
    align-self: stretch;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.nav__hamburger {
    content: "";
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    display: block;
    padding: 0;
}

/*-----------------About--------------*/

.about__box {
    padding: 2em;
    max-width: 50em;
    margin: 5% auto;
    text-align: justify;
}

/*---------------Blog----------------*/

.blog {
    color: #000;
    background-image: url(../images/greengables_small_2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 5%;
}

.blog__heading {
    background-color: rgba(255, 255, 255, 0.6);
    max-width: 50%;
    margin: 1.5em auto;
    border-radius: 10px;
}

.blog__box {
    display: flex;
    flex-flow: column wrap;
    align-items: space-around;
    margin: auto;
}

.box__text {
    padding: 1em;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    margin: 10px;
    font-size: 1.3em;
    background-image: url(../images/notebook-dark.png);
}

.blog__date {
    display: block;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    padding: 5px;
}

.blog__author {
    display: block;
}

/*----------------Quotes--------------*/

.my-thoughts {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: relative;
    padding: 1em;
}

.my-thoughts:after {
    content: "";
    width: 100%;
    height: 10px;
    background-color: #FCC09E;
    border-radius: 10px;
}

.my-thoughts-border {
    position: relative;
}

.my-thoughts-border:before {
    content: "";
    width: 8px;
    height: 100%;
    background-color: #FCC09E;
    display: block;
    position: absolute;
    bottom: 0;
    left: -5px;
}

.my-thoughts-outer {
    border-top: 10px solid #FCC09E;
    width: 270px;
    margin-left: -4px;
    padding: 5%;
    margin-bottom: 40px;
    position: relative;
}

.my-thoughts-outer:nth-of-type(odd):before,
.my-thoughts-outer:nth-of-type(even):before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FCC09E;
    transform: translateY(-110%);
    right: -20px;
    position: absolute;
}

.my-thoughts-outer:last-of-type {
    margin-bottom: 4em;
}

.my-thoughts__txt {
    margin: 10px;
    background-color: #fff;
    background-image: url(../images/notebook-dark.png);
    border-radius: 10px;
    color: #000;
    padding: 15px;
    box-shadow: 0 0 13px rgb(40, 46, 31);
}

.my-thoughts__txt:before,
.my-thoughts__txt:after {
    content: "";
    width: 10px;
    height: 50px;
    background-image: url(../images/notebook-dark.png);
    border: 1px solid rgb(66, 75, 50);
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    left: 10%;
    top: -10px;
}

.my-thoughts__txt:after {
    left: 85%;
}